---
import Layout from '../layouts/Layout.astro';
/* import Card from '../components/Card.astro'; */
/* import Pill from '../components/Pill.vue'; */
---

<Layout title="Theron Joe">
	<main>
		About Page
	</main>
</Layout>
