---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Theron Joe">
	<div class="flex w-full justify-center items-center">
		<p class="text-2xl font-semibold text-gray-300">Whoops, looks like this page is currently a Work In Progress.</p>
	</div>
</Layout>
