---
import Layout from '../layouts/Blog.astro';
/* import Card from '../components/Card.astro'; */
/* import Pill from '../components/Pill.vue'; */
import NavBar from '../components/NavBar.vue';
---

<Layout title="Theron Joe">
	<NavBar />
	<main>
		Blog Page
	</main>
</Layout>
