---
import Layout from '../layouts/Layout.astro';
/* import Card from '../components/Card.astro'; */
/* import Pill from '../components/Pill.vue'; */
import Image from '../imgs/monument-valley-night.jpg';
const bgImg = `background-image: url(${Image}); background-size: cover;`
---

<Layout title="Theron Joe">
	<section class="min-h-screen min-w-screen flex justify-center text-gray-100 pt-24" style={bgImg}>
		<div class="flex flex-col">
			<div class="text-3xl">My name is </div>
			<div class="ml-8">
				<span class="text-4xl font-semibold">Theron Joe</span>
			</div>
			<div>
				<button type="button" class="border rounded-md px-4 py-1">Learn More</button>
			</div>
		</div>
	</section>
</Layout>

