---
import Layout from '../layouts/Layout.astro';
// import Image from '../imgs/monument-valley-night.jpg';
// const bgImg = `background-image: url(${Image}); background-size: cover;`
---

<Layout title="Theron Joe">
	<div class="flex flex-grow items-center justify-center bg-gray-800 text-gray-100">
		<div class="flex items-start space-y-6 flex-col mx-8">
			<div class="">
				<h1 class="text-6xl">Theron Joe</h1>
				<span class="font-bold">Web Developer</span>
			</div>
			<div class="">
				<p>I am self taught developer, currently utilizing Laravel.</p>
				<p></p>
				<p>I am a problem solver, life long learner and I'm excited to continue my journey.</p>
			</div>
			<div class="">
				<a href="/about" class="border rounded-md px-4 py-1">Learn More</a>
			</div>
		</div>
	</div>
</Layout>

