---
import Layout from '../layouts/Layout.astro';
/* import Card from '../components/Card.astro'; */
/* import Pill from '../components/Pill.vue'; */
import Image from '../imgs/monument-valley-night.jpg';
const bgImg = `background-image: url(${Image}); background-size: cover;`
---

<Layout title="Theron Joe">
	<section class="min-h-screen min-w-screen flex w-full justify-center bg-center md:bg-right text-gray-100 pt-24" style={bgImg}>
		<div class="flex items-center flex-col mt-8">
			<div>
				<h1 class="text-6xl">Theron Joe</h1>
				<span class="font-semibold">Web Developer</span>
			</div>
			<div class="">
				<p>I am self taught developer, currently utilizing Laravel.</p>
				<p>list other things i know?</p>
				<p>I am a life long learner and I'm excited to learn more.</p>
				<!---need to make loading faster--->
			</div>
			<div>
				<button type="button" class="border rounded-md px-4 py-1">Learn More</button>
			</div>
		</div>
	</section>
</Layout>

