---
import Layout from '../layouts/Layout.astro';
/* import Card from '../components/Card.astro'; */
/* import Pill from '../components/Pill.vue'; */
import Image from '../imgs/monument-valley-night.jpg';
const bgImg = `background-image: url(${Image}); background-size: cover;`
---

<Layout title="Theron Joe">
	<section class="min-h-screen min-w-screen flex justify-center text-gray-100 pt-24" style={bgImg}>
		<div class="flex items-center flex-col mt-8">
			<h1 class="text-6xl">Theron Joe</h1>
			<span class="font-semibold mt-4">Father - Husband - Indigenous</span>
			<span class="font-semibold">Web Developer</span>
			<div class="ml-8">
				<p>I am self taught developer</p>
			</div>
			<div>
				<button type="button" class="border rounded-md px-4 py-1">Learn More</button>
			</div>
		</div>
	</section>
</Layout>

