---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import PostHog from '../components/posthog.astro';
import NavBar from '../components/NavBar.vue';
import Footer from '../components/Footer.vue';
import AppleTouch from '../imgs/apple-touch-icon.png'
import FavMed from '../imgs/favicon-32x32.png'
import FavSm from '../imgs/favicon-16x16.png'
import Manifest from '../imgs/site.webmanifest'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Title Tag -->
		<title>{title} { title == 'College Chat' ? '' : '| Full Stack Developer'}</title>
		<!-- Meta Description -->
		<meta name="description" content="Experienced TALL stack Developer proficient in Laravel, continuously expanding into Go & Python. Committed to innovation and effective problem-solving.">
		<!-- Keywords for SEO (if needed) -->
		<meta name="keywords" content="developer, web developer, software developer, software engineer, fullstack, fullstack developer, fullstack engineer, laravel, php, javascript">
		<!-- Canonical URL (if needed) -->
		<link rel="canonical" href="https://www.joetwebdev.io/">
		<!-- Social Media Tags (Open Graph for Facebook) -->
		<meta property="og:title" content="Theron Joe | Full Stack Developer">
		<meta property="og:description" content="Experienced TALL stack Developer proficient in Laravel, continuously expanding into Go & Python. Committed to innovation and effective problem-solving.">
		<meta property="og:image" content={ FavSm }>
		<meta property="og:url" content="https://www.joetwebdev.io/">
		<meta property="og:type" content="website">
		<!-- Twitter Card -->
		<meta name="twitter:card" content="full_stack_developer">
		<meta name="twitter:title" content="Theron Joe | Full Stack Developer">
		<meta name="twitter:description" content="Experienced TALL stack Developer proficient in Laravel, continuously expanding into Go & Python. Committed to innovation and effective problem-solving.">
		<meta name="twitter:image" content={ FavMed }>
		<link rel="apple-touch-icon" sizes="180x180" href={ AppleTouch }>
		<link rel="icon" type="image/png" sizes="32x32" href={ FavMed }>
		<link rel="icon" type="image/png" sizes="16x16" href={ FavSm }>
		<link rel="manifest" href={ Manifest }>
		<meta name="generator" content={Astro.generator} />

		<PostHog />
	</head>
	<body class="">
		<div class="min-h-screen flex flex-col">
			<NavBar client:load />
			<main class="flex flex-grow w-full bg-gray-800">
				<slot />
			</main>
			<Footer client:load />
		</div>
	</body>
</html>
